.App {
  text-align: center;

}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
}

.OurTeam {
  background-color: #293241;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e0fbfc;
  min-height: 20vh;
  font-size: 50px;
}

.teamGrid {
  display: flex;
  background-color: #293241;
  flex-wrap: wrap;
  justify-content: center;
}

.gridCard {
  background-color: #282c34;
  color: #e0fbfc;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  width: 300px;
  padding: 20px;
  font-size: 25px
}

.cardCap {
  border-radius: 10px;
  padding: 10px;
}

.textblock {
  background-color: #293241;
  color: #e0fbfc;
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  padding-right: 200px;
}

.footblock {
  background-color: #293241;
  color: #e0fbfc;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: row;
  display: flex;
}

.Resources {
  display: flex;
  background-color: #293241;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
}

.resCard {
  background-color: #282c34;
  color: #e0fbfc;
  border-radius: 30px;
  flex-direction: column;
  margin: 20px 20px;
  width: 150px;
  text-align: center;
  padding: 10px;
}