.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
  }
  
  .titleText {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  
  .cardBox {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
    padding: auto;
    padding-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
  }

  .dropdownContainer {
    flex-direction: column;
    margin-bottom: 20px;
    min-height: 20px; /* Adjust as needed */
  }
  
  .dropdown-button {
    display: inline;
    margin: 0 50px;
  }

  #dropdown-basic-button {
    background-color: #212529;
    border: 0.1px solid lightgrey;
  }

  
  .filter-submit-button {
    background: #083d77;
    border: 0.1px solid lightgrey;
    padding: 7px 15px;
    margin: 15px 0 20px 0;
    font-family: "Helvetica";
    border-radius: 10px;
    color: white;
  }