.pagination-indicator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.pagination-button {
    width: 35px;
    background:#212529;
    border-radius:5px;
    color:rgb(255, 255, 255);
    border: 0.1px solid lightgrey;
}

.page-selected {
    background: lightslategray;
    color: white;
    border: 0.1px solid lightgrey;
}
